<div class="header-bar">
    <!-- Desktop Layout, size >= 1000px -->
   <div class="container-fluid">
        <div class="row header-content" *ngIf="!mobile">
            <div class="col">
                <div class="row header-content">
                    <div class="col">
                        <img src="/assets/logo.png" alt="logo" class="header-logo ms-2"/>
                    </div>
                    <div class="col my-auto text-center">
                        <a class="text-light text-decoration-none" *ngIf="loggedIn()"><h3>OVERVIEW</h3></a>
                    </div>
                    <div class="col my-auto text-center">
                        <a class="text-light text-decoration-none" *ngIf="loggedIn()"><h3>CREATE</h3></a>
                    </div>
                    <div class="col my-auto text-center">
                        <a class="text-light text-decoration-none" *ngIf="loggedIn()"><h3>SERVICES</h3></a>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row header-content">
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                    <div class="col my-auto text-center">
                        <input type="text" placeholder="SEARCH..." class="search-bar" *ngIf="loggedIn()"/>
                    </div>
                    <div class="col my-auto text-center me-2">
                        <a class="text-light text-decoration-none" *ngIf="loggedIn()"><h3>ACC</h3></a>
                    </div>
                </div>
            </div>
        </div>
   </div>

    <!-- Mobile Layout, size < 1000px -->
    <div class="container-fluid">
        <div class="row header-content" *ngIf="mobile">
            <div class="col">
                <div class="row header-content">
                    <div class="col">
                        <button class="btn ms-2 mobile-menu-btn" (click)="mobileMenuToggle()">
                            <img src="/assets/logo.png" alt="logo" class="header-logo-mobile"/>
                        </button>
                    </div>
                    <div class="col my-auto text-center me-1">
                        <input type="text" placeholder="SEARCH..." class="search-bar" *ngIf="loggedIn()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Mobile menu floater -->
<div class="mobile-menu-float" *ngIf="mobileMenu" [@visibleHidden]="'visible'">
    <div class="row ms-2" *ngIf="loggedIn()">
        <div class="col">
            <a class="text-light text-decoration-none"><h4>OVERVIEW</h4></a>
        </div>
    </div>
    <div class="row ms-2" *ngIf="loggedIn()">
        <div class="col">
            <a class="text-light text-decoration-none"><h4>CREATE</h4></a>
        </div>
    </div>
    <div class="row ms-2" *ngIf="loggedIn()">
        <div class="col">
            <a class="text-light text-decoration-none"><h4>SERVICES</h4></a>
        </div>
    </div>
    <div class="row ms-2" *ngIf="loggedIn()">
        <div class="col">
            <a class="text-light text-decoration-none"><h4>ACC</h4></a>
        </div>
    </div>
</div>
